#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-home);
}
#footer h2 {
  margin: 24px;
  color: var(--color-white);
}

.author {
  text-align: center;
}
.sns {
  display: flex;
  color: var(--color-white);
  font-size: var(--font-large);
  letter-spacing: var(--font-medium);
  justify-content: center;
  margin: 12px;
}
.sns i:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: var(--color-home-sky);
  transition: all 300ms;
}

.author_img {
  margin-top: 50px;
  display: grid;
  justify-content: center;
}
.author_img_avatar {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.description {
  text-align: center;
}
