/* Global */
:root {
  /* Color */
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: pink;
  --color-dark-pink: #ff6863;
  --color-dark-grey: darkgrey;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-home: #7843e6;
  --color-home-sky: #ff00ff;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
