/* Global */
:root {
  /* Color */
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: pink;
  --color-dark-pink: #ff6863;
  --color-dark-grey: darkgrey;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-home: #7843e6;
  --color-home-sky: #ff00ff;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  overflow: hidden;
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;

  padding-right: 15px;
  justify-content: space-between;
  background-color: var(--color-home);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.navbar__menu__items {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item:hover {
  background-color: var(--color-home-sky);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.header-text {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  color: white;
}

#home {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  background-color: var(--color-white);
}

#home.home__img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#news {
  display: grid;
  padding: 5vw 5vw 5vw 5vw;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  grid-gap: 15px;
  text-align: center;

  background-color: var(--color-white);
}

.news__items {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid var(--color-home);
}

.news__items__img {
  display: flex;
  width: 400px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news__items__video {
  display: flex;
  width: 450px;
  height: 300px;
}

#news h1 {
  grid-area: title;
}
#news h2 {
  text-align: center;
}
#news h3 {
  margin-left: 10wh;
  margin-right: 10wh;
  text-align: center;
}
#news button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 40px;
  text-align: center;
  border: 1px solid coral;
  cursor: pointer;
}

@media (min-width: 700px) and (max-width: 1400px) {
  #news {
    display: grid;
    padding: 5vw 5vw 5vw 5vw;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    grid-gap: 15px;
    align-items: stretch;
    background-color: var(--color-white);
  }
  .news__items__img {
    display: flex;
    width: 300px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .news__items__video {
    display: flex;
    width: 300px;
    height: auto;
  }
}

@media (max-width: 699px) {
  #news {
    display: grid;
    padding: 5vw 5vw 5vw 5vw;
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: auto;
    grid-gap: 15px;
    align-items: stretch;
    background-color: var(--color-white);
  }
  .news__items__img {
    display: flex;
    width: 300px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .news__items__video {
    display: flex;
    width: 300px;
    height: auto;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-home);
}
#footer h2 {
  margin: 24px;
  color: var(--color-white);
}

.author {
  text-align: center;
}
.sns {
  display: flex;
  color: var(--color-white);
  font-size: var(--font-large);
  letter-spacing: var(--font-medium);
  justify-content: center;
  margin: 12px;
}
.sns i:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: var(--color-home-sky);
  transition: all 300ms;
}
